body {
  color: white;
}

textarea {
    resize: none;
    height: 300px;
}

.le_top {
    padding-bottom: 100px;
    padding-top: 40px;
}

.div-top {
  padding-top: 100px;
}

.form-top-sexe {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(132, 132, 132, 0.30);
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-bot{
    padding: 25px 25px 30px 25px;
    background: rgba(132, 132, 132, 0.2);
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
    height: 100px;
    width: 100%;
    border-color: #19b9e7;
}

.texte-boite-sexe {
    float: left;
    width: 75%;
    padding-top: 5px;
    margin-top: 0;
    opacity: 0.8;
    color: #fff;
}

.middle-border-compte {
    min-height: 270px;
    margin-top: 20px;
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.mid-border-compte {
    width: 1190px;
    margin: 0 auto;
    padding-bottom: 25px;
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.bio_input {
    height: 300px;
}
