<html>
    <head>

    </head>
    <body>
        <form action="/post-connection" method="post">
            <input type="text" id="pseudo" name="pseudo">
            <input type="password" id="pwd" name="pwd">
            <input type="submit"></input>
        </form>
    </body>
</html>